
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <title>MoviePedia</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/navbar %>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">MoviePedia!</h1>
          <p class="lead text-muted">Find the latest and greatest for all things movies!</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <% for(var i = 0; i < results.length; i++) { %>  
            <div class="col-md-4">
              <a href="/movie/<%-results[i]%>" >
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <h4 class="card-text"><%=results[i]["title"]%></h4>
                  <div class="d-flex justify-content-between align-items-center">
                    <img src="http://image.tmdb.org/t/p/w185/<%- results[i]["poster_path"] %>" />
                  </div>
                </div>
              </div>
            </a>
            </div>
            
            <% } %> 
          </div>
        </div>
      </div>
    </main>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
  </body>
</html>
